<div class="w-full h-screen flex flex-col justify-between bg-gray-700 p-16">
  <%# link_to "Add Drum Pattern", new_project_drum_pattern_path(@project), class: "text-gray-100", data: { turbo_frame: "drum_pattern" } %>
  <%= turbo_frame_tag :drum_pattern, src: new_project_drum_pattern_path(@project) %>
  <%= render "sidebar" %>
</div>